




nav{
    
    font-size: 20pt;
    font-family: Times;
    text-align:right;
    color:olivedrab;
    margin: 15 px;
    padding: 30 px ;
    
}

.barra{

    display: inline-flex;
    
}

.parrafos-index{
    font-size: 20pt;
    font-family:Cochin, Cambria, Georgia, Times, 'Times New Roman', serif;
    color: black;
    text-align: center;
    background-color: blanchedalmond;
    padding: 30 px;
    margin:15 px;
    
}

h1{
    font-size: 36pt;
    font-style: italic;
    font-family:'Times New Roman', Times, serif,'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    color:black;
    background-color:wheat;
    padding: 15 px;
    margin: 10 px;
}

.carrusel{
    display: flex;
    gap: 10px;
    justify-content:center;
    

}
.carrusel ul{
list-style: none;
margin:0;
padding: 0;
max-width: 1030px;
scroll-behavior:smooth;
}

.carrusel-imagenes{
    display: flex;
    gap:10px;
    overflow:auto;
}
.carrusel-imagenes img{
    background:white;
    width: 450px;
    height: 300px;
    border: 4px solid yellowgreen;
    object-fit: contain;
}


.carrusel-menu{
    display: none;
}

@media screen and (min-width:500px) {
    .carrusel-imagenes{
        overflow:hidden;
        
    }

    .carrusel-imagenes img{
        width: 1015px;
        height: 500px;   
    }
    .carrusel-menu{
        display: block;
    }
    .carrusel-menu img{
        width:60px;
        height:51.3px;
        border: 3px solid yellowgreen;
    }

    .carrusel-menu img:hover{
        border-color: crimson;
    }
}

h2{
    font-size: 28pt;
    font-family: Times;
    text-align:center;
    color:black;
    


}

h3{
    font-size:24pt ;
    font-family: Times;
    text-align: center;
    color:white;
    background-color: olivedrab;
}

h4{

    
    font-size: 18pt;
    font-family: Times;
    text-align:right;
    color: olivedrab;
    background-color: wheat;
}

li{
    font-size: 20pt;
    font-family: cochin;
    text-align: justify;
}

ul{
    font-size: 20pt;
    font-family: cochin;
    text-align: justify;

}

.btn{
    padding:10px 5px;
    font-size: 15 px;
    font-family: Times;
    background-color:blanchedalmond;
    border: 1px solid yellowgreen;
    cursor: pointer;
    text-align:center;
    position:static;
    border-radius: 2px;
    overflow: hidden;
}


.barra{
display:right;
}


    


.text_center{

    text-align: center;
}

.ajustartexto{
    
    text-align: center;

}


.form-parrafos{
    font-size: 20pt;
    font-family:Cochin, Cambria, Georgia, Times, 'Times New Roman', serif;
    color: black;
    justify-content: center;
    background-color: blanchedalmond;
    padding: 30 px;
    margin:15 px;
    
}

.form-cuerpo{
    font-size: 20pt;
    font-family:Cochin, Cambria, Georgia, Times, 'Times New Roman', serif;
    color: black;
    text-align: center;
    background-color: white;
    padding: 30 px;
    margin:15 px;
}

.contacto-parrafos{
    font-size: 20pt;
    font-family:Cochin, Cambria, Georgia, Times, 'Times New Roman', serif;
    color: black;
    text-align: center;
    padding: 30 px;
    margin:15 px;
    
}

.icono{
    height: 80px;
    width: 80px;
    display: inline-block;
}

.footer{
    
    background-color: blanchedalmond;
    padding: 30 px;
    margin:15 px;
    
    
}

.container{

    display: inline-flex;
    justify-content: center;


}

.ubicacion{
    align-items: center;
}
